<!doctype html>
<html class="no-js" lang="zxx">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="x-ua-compatible" content="ie=edge">
         <title>JOB PORTAL</title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="manifest" href="site.webmanifest">
		<link rel="shortcut icon" type="image/x-icon" href="/static/img/favicon.ico">

		<!-- CSS here -->
            <link rel="stylesheet" href="/static/css/bootstrap.min.css">
            <link rel="stylesheet" href="/static/css/owl.carousel.min.css">
            <link rel="stylesheet" href="/static/css/flaticon.css">
            <link rel="stylesheet" href="/static/css/price_rangs.css">
            <link rel="stylesheet" href="/static/css/slicknav.css">
            <link rel="stylesheet" href="/static/css/animate.min.css">
            <link rel="stylesheet" href="/static/css/magnific-popup.css">
            <link rel="stylesheet" href="/static/css/fontawesome-all.min.css">
            <link rel="stylesheet" href="/static/css/themify-icons.css">
            <link rel="stylesheet" href="/static/css/slick.css">
            <link rel="stylesheet" href="/static/css/nice-select.css">
            <link rel="stylesheet" href="/static/css/style.css">
   </head>
{%if user_name%}
    {% include 'loginned_user_header.html' %}
{% else %}
    {% include 'public_header.html' %}
{% endif %}
   <body>
    <!-- Preloader Start -->
    <div id="preloader-active">
        <div class="preloader d-flex align-items-center justify-content-center">
            <div class="preloader-inner position-relative">
                <div class="preloader-circle"></div>
                <div class="preloader-img pere-text">
                    <img src="/static/img/logo/logo.png" alt="">
                </div>
            </div>
        </div>
    </div>
    <!-- Preloader Start -->

    <main>

        <!-- slider Area Start-->
        <div class="slider-area">
    <!-- Mobile Menu -->
    <div class="slider-active">
        <div class="single-slider slider-height d-flex align-items-center" data-background="/static/img/hero/how-applybg.png">
            <div class="container">

                <!-- Search Box (moved to top) -->
                <div class="row mb-4">  <!-- added margin-bottom for spacing -->
                    <div class="col-xl-8">
                        <form method="POST" class="search-box">
                            <div class="input-form">
                                <input type="text" placeholder="Job Title or keyword" id="job_name">
                            </div>
                            <div class="select-form">
                                <div class="select-itms">
                                    <select name="select" id="select1"  size="6" >
                                        <option value="" selected disabled>Your Location</option>
                                        <option value="andhra_pradesh">Andhra Pradesh</option>
                                        <option value="arunachal_pradesh">Arunachal Pradesh</option>
                                        <option value="assam">Assam</option>
                                        <option value="bihar">Bihar</option>
                                        <option value="chhattisgarh">Chhattisgarh</option>
                                        <option value="goa">Goa</option>
                                        <option value="gujarat">Gujarat</option>
                                        <option value="haryana">Haryana</option>
                                        <option value="himachal_pradesh">Himachal Pradesh</option>
                                        <option value="jharkhand">Jharkhand</option>
                                        <option value="karnataka">Karnataka</option>
                                        <option value="kerala">Kerala</option>
                                        <option value="madhya_pradesh">Madhya Pradesh</option>
                                        <option value="maharashtra">Maharashtra</option>
                                        <option value="manipur">Manipur</option>
                                        <option value="meghalaya">Meghalaya</option>
                                        <option value="mizoram">Mizoram</option>
                                        <option value="nagaland">Nagaland</option>
                                        <option value="odisha">Odisha</option>
                                        <option value="punjab">Punjab</option>
                                        <option value="rajasthan">Rajasthan</option>
                                        <option value="sikkim">Sikkim</option>
                                        <option value="tamil_nadu">Tamil Nadu</option>
                                        <option value="telangana">Telangana</option>
                                        <option value="tripura">Tripura</option>
                                        <option value="uttar_pradesh">Uttar Pradesh</option>
                                        <option value="uttarakhand">Uttarakhand</option>
                                        <option value="west_bengal">West Bengal</option>
                                    </select>
                                </div>
                            </div>
                            <div class="search-form">
                                <a href="#" onclick="find_job_by_name()">Find job</a>
                            </div>
                        </form>
                    </div>
                </div>

                <!-- Hero Text -->
                <div class="row">
                    <div class="col-xl-6 col-lg-9 col-md-10">
                        <div class="hero__caption">
                            <h1 style="color: white;">Find the most suitable jobs for you!!!</h1>
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </div>
</div>

               <script>
                   function find_job_by_name() {
    let jobName = document.getElementById('job_name').value;
    let locationSelect = document.getElementById('select1');
    let locationValue = locationSelect.value;

    // Only include job_location if a valid state is selected
    let url = "/find_job_list?job_name=" + encodeURIComponent(jobName);
    if (locationValue) {  // empty string evaluates to false
        url += "&job_location=" + encodeURIComponent(locationValue);
    }

    window.location.href = url;
}
               </script>

       
    {% include 'footer.html' %}

  <!-- JS here -->

		<!-- All JS Custom Plugins Link Here here -->
        <script src="/static/js/vendor/modernizr-3.5.0.min.js"></script>
		<!-- Jquery, Popper, Bootstrap -->
		<script src="/static/js/vendor/jquery-1.12.4.min.js"></script>
        <script src="/static/js/popper.min.js"></script>
        <script src="/static/js/bootstrap.min.js"></script>
	    <!-- Jquery Mobile Menu -->
        <script src="/static/js/jquery.slicknav.min.js"></script>

		<!-- Jquery Slick , Owl-Carousel Plugins -->
        <script src="/static/js/owl.carousel.min.js"></script>
        <script src="/static/js/slick.min.js"></script>
        <script src="/static/js/price_rangs.js"></script>

		<!-- One Page, Animated-HeadLin -->
        <script src="/static/js/wow.min.js"></script>
		<script src="/static/js/animated.headline.js"></script>
        <script src="/static/js/jquery.magnific-popup.js"></script>

		<!-- Scrollup, nice-select, sticky -->
        <script src="/static/js/jquery.scrollUp.min.js"></script>
        <script src="/static/js/jquery.nice-select.min.js"></script>
		<script src="/static/js/jquery.sticky.js"></script>

        <!-- contact js -->
        <script src="/static/js/contact.js"></script>
        <script src="/static/js/jquery.form.js"></script>
        <script src="/static/js/jquery.validate.min.js"></script>
        <script src="/static/js/mail-script.js"></script>
        <script src="/static/js/jquery.ajaxchimp.min.js"></script>

		<!-- Jquery Plugins, main Jquery -->
        <script src="/static/js/plugins.js"></script>
        <script src="/static/js/main.js"></script>

    </body>
</html>